  /* Style for video */

  #v {
      position: absolute;
      top: 15%;
      left: 20%;
  }

  #canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
  }

  canvas {
      background: lightblue;
  }

  html, body {
      margin: 0;
      height: 100%;
      overflow: hidden
  }